<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="Provider" value="SQLite"/>

    <add key="SQLite" value="db-kvant.sqlite" />
    <add key="MySQL" value="server=localhost;port=3306;database=mydatabase;user=root;password=root" />
    <add key="MSSQL" value="Server=(localdb)\\mssqllocaldb;Database=mydatabase;Trusted_Connection=True;MultipleActiveResultSets=true" />
    <add key="PostgreSQL" value="Host=localhost;Database=mydatabase;Username=root;Password=root" />
    <add key="Oracle" value="Data Source=" />
  </appSettings>
</configuration>