<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile=".\Logs\internal-nlog.txt"
      keepVariablesOnReload="true">

  <extensions>
    <!--enable NLog.Web for ASP.NET Core-->
    <!--<add assembly="NLog.Web.AspNetCore"/>-->
  </extensions>

  <variable name="logDirectory" value="C:\Apps\Projects\_Dy\KVANTCARD\Logs" />

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->

    <target name="allfile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" fileName="${var:logDirectory}\KvantCard-Main-${shortdate}-all.log"
              layout="${longdate}|T-${threadid:padding=2}|E-${event-properties:item=EventId.Id:padding=2}|${uppercase:${level:padding=5}}|${logger}|${message} ${exception}" />
    </target>

    <target name="ownFile-web" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File" fileName="${var:logDirectory}\KvantCard-Main-${shortdate}-own.log"
              layout="${longdate}|T-${threadid:padding=2}|E-${event-properties:item=EventId.Id:padding=2}|${uppercase:${level:padding=5}}|${logger}|${message} ${exception}" />
    </target>

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>
